# Database (SQLite)
DB_PATH=bot.db

# Bot
BOT_TOKEN=8273645559:AAF4mfWXYNiAeSSrXXnhDq7k5fhEiKjEhFA # Bot token from BotFather
CHANNEL_ID=-1001443634661 # Required channel ID for membership check
CHANNEL_URL=https://t.me/iqtidor_akademiyasi # Required channel URL

# Application
TIMEZONE=Asia/Tashkent